@charset "utf-8"; /* 

shorthand: 

margin: 40px  all 4 sides
margin: 40px auto; top/bottom, right/left together
margin: 40px auto0; top right/left bottom;
margin: 40px 30px 10px 5px; top right/bottom left;

start at top, then continue clockwise around the box.

units of measurement:

width= is defined as percentage. %
height= rem
type= rem
graphics= pixels (eg: order would be "graphic")

reminder: the child determins the height of an element
*/

/* controls the size of the viewport */

@-moz-viewport { width: device-width; scale: 1; } /* moz= fire fox, ms= explorer, o= opera */
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; } /* webkit= safari and google */
@viewport { width: device-width; scale: 1; } /* w3c standark */ 

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html {
    -moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

    font-size: 100%;
}

img { width:100%;
      display: block;
}

body { margin: 0;
       padding: 0;
}

.masthead {
           background-color: red;
           overflow: hidden;
}

.logo {
    height: 4.5rem;
    width: auto;
}


article {
    margin: 0;
    padding: 0.5%;
    overflow: hidden;
}
    

h1 {
    font-family: helvetica, futura, sans-serif;
    font-size: 5rem;
    margin: 1.5rem 0;
    line-height: 4.5rem;
}

p {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
    font-family: futura, sans-serif;
}

figure {
    margin: 1.5rem 0 1,5rem;
    line-height: 1.5rem;
}

figcaption {
    font-family: helvetica, sans-serif;
}

footer {
    background-color: maroon;
    overflow: hidden;
}

footer p {
    color: white;
    margin: .5rem, 4.5%, 4.5rem;
    font-family: futura, sans-serif;
    font-size: 2.5rem;
}

footer a { 
    color: yellow;
    font-family: futura;
    font-size: 1.5rem;
}
    



